:root {
    --dark: #130908;
    --light: #FFEEE0;
}

body {
    background-color: var(--dark);
    font-family: 'Creepster', serif;
}

h1 {
    color: #641812;
    font-family: 'Creepster', serif;
    font-size: 96px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 12px;
    margin: 24px auto;
}

.wordDisplay {
    color: var(--light);
    font-family: 'Creepster', serif;
    font-size: 64px;
    text-align: center;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setWord {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.keyboard {
    background: #20200D;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.key {
    color: var(--light);
    background: var(--dark);
    font-family: 'Creepster', serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    margin: 8px 2px;
    border-radius: 4px;
}

#begin {
    font-family: 'Creepster', serif;
    font-size: 28px;
    align-content: center;
    width: 96px;
    height: 48px;
    margin: 0px 8px 0px 8px;
    flex-wrap: wrap;
    background-color: var(--light);
}

#wordInput {
    font-family: 'Creepster', serif;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    width: 360px;
    height: 56px;
    flex-wrap: wrap;
    align-content: center;
}

::placeholder {
    font-size: 32px;
    display: flex;
}